html {
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    height: 100%;
    overflow-y: auto;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

body {

}
