.menu-toggler {
    z-index: 100;
    span {
        cursor: pointer;
    }
    width: 100%;
    height: 4rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
    @include from($tablet) {
        font-size: 1.6rem;
    }
    @include from($desktop) {
        font-size: 2rem;
    }
    @include from($widescreen) {
        height: 6rem;
        padding-top: 2rem;
    }
    &.has-menu {
        background: $white;
        transition: all 0.3s ease-in;
        @include from($widescreen) {
            padding-top: 0;
        }
    }
}

nav {
    position: absolute;
    bottom: calc(100% - 4rem);
    overflow: hidden;
    z-index: 100;
    top: 4rem;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    transition: all 0.6s ease-out;
    @include from($widescreen) {
        bottom: calc(100% - 6rem);
        top: 6rem;
    }
    &.show-menu {
        bottom: 0;
        transition: all 0.6s ease-in;
        @include until($tablet) {
            overflow: auto;
        }
    }

    ul {
        width: 100%;
        height: 100%;
        background: $white;
        &.columns:last-child {
            margin: 0;
        }
        li {
            padding:0;
            a {
                color:$grey-darker;
                width: 100%;
                height: 100%;
                padding-top: 1rem;
                padding-bottom: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                background: $secondary-light;
                transition: all 0.2s linear;
                span {
                    transition: all 0.2s linear;
                }
                &:hover, &:active {
                    color:$grey-darker;
                    background: darken($secondary-light,5%);
                    span {
                        transform: scale(1.1);
                        transition: all 0.2s linear;
                    }
                    transition: all 0.2s linear;
                }
            }
            &:nth-child(2) a {
                background: $grey-light;
                &:hover, &:active {
                    background: darken($grey-light,5%);
                }
            }
            &:nth-child(3) a {
                background: $secondary;
                &:hover, &:active {
                    background: darken($secondary,5%);
                }
            }
            &:nth-child(4) a {
                background: $primary;
                &:hover, &:active {
                    background: darken($primary,5%);
                }
            }
            &:nth-child(5) a {
                background: $primary-light;
                &:hover, &:active {
                    background: darken($primary-light,5%);
                }
            }
            &:nth-child(6) a {
                background: $secondary-dark;
                color:darken($grey-darker,10%);
                &:hover, &:active {
                    background: darken($secondary-dark,5%);
                    color:darken($grey-darker,10%);
                }
            }
        }
    }
}
