.menu-toggler {
    z-index: 100;
    > span {
        @extend a;
        @include from($desktop) {
            margin-right: 2rem;;
        }
    }
    > a:not(:hover):not(:active) {
        color: $black;
    }
    > a {
        @include touch {
            margin-left: 0.5rem;
        }
        @include from($desktop) {
            margin-left: 2rem;
        }
    }

    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-out;
    @include from($tablet) {
        font-size: 1.5rem;
    }
    &.is-landing-toggler {
        height: 4rem;
        justify-content: center;

        @include from($desktop) {
            font-size: 2rem;
        }
        @include from($widescreen) {
            height: 6rem;
            padding-top: 2rem;
        }
    }
    &.has-menu {
        background: $white;
        transition: all 0.3s ease-in;
        @include from($widescreen) {
            padding-top: 0;
        }
    }
}

nav {
    position: absolute;
    bottom: calc(100% - 4rem);
    overflow: hidden;
    z-index: 100;
    top: 4rem;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    transition: all 0.6s ease-out;
    @include from($widescreen) {
        bottom: calc(100% - 6rem);
        top: 6rem;
    }
    &.show-menu {
        bottom: 0;
        transition: all 0.6s ease-in;
        @include until($tablet) {
            overflow: auto;
        }
    }

    ul {
        width: 100%;
        height: 100%;
        background: $white;
        &.columns:last-child {
            margin: 0;
        }
        li {
            padding:0;
            a {
                color:$grey-darker;
                width: 100%;
                height: 100%;
                padding-top: 1rem;
                padding-bottom: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                background: $secondary-light;
                transition: all 0.2s linear;
                span {
                    transition: all 0.2s linear;
                }
                &:hover, &:active {
                    color:$grey-darker;
                    background: darken($secondary-light,5%);
                    span {
                        transform: scale(1.1);
                        transition: all 0.2s linear;
                    }
                    transition: all 0.2s linear;
                }
            }
            &:nth-child(2) a {
                background: $grey-light;
                &:hover, &:active {
                    background: darken($grey-light,5%);
                }
            }
            &:nth-child(3) a {
                background: $secondary;
                &:hover, &:active {
                    background: darken($secondary,5%);
                }
            }
            &:nth-child(4) a {
                background: $primary;
                &:hover, &:active {
                    background: darken($primary,5%);
                }
            }
            &:nth-child(5) a {
                background: $primary-light;
                &:hover, &:active {
                    background: darken($primary-light,5%);
                }
            }
            &:nth-child(6) a {
                background: $secondary-dark;
                color:darken($grey-darker,10%);
                &:hover, &:active {
                    background: darken($secondary-dark,5%);
                    color:darken($grey-darker,10%);
                }
            }
        }
    }
}
.hamburger .line {

}

.hamburger:hover {
    cursor: pointer;
}

.hamburger {
    margin: 0 1rem;
    position: relative;
    transition: all 0.3s ease-in-out;

    .line {
        width: 26px;
        height: 2px;
        background-color: $black;
        display: block;
        margin: 6px auto;
        border-radius: 1px;
        transition: all 0.3s ease-in-out;
    }

    &.is-active {
        transform: rotate(-45deg);
        .line {
            width: 24px;
            background-color: $primary;
            transition: all 0.3s ease-in-out;
            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(1) {
                transform: translateY(8px);
            }

            &:nth-child(3) {
                transform: translateY(-8px) rotate(90deg);
            }
        }
    }
    &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        top: calc(50% - 15px);
        left: calc(50% - 15px);
        transition: all 0.3s ease-in-out;
    }
}
