@mixin centerAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin keepRatio($height){
    position: relative;
    &:before{
        content: '';
        display: block;
        padding-top: $height;
    }
}
